html, body {
  	height: 100%;
}
body {
	margin: 0;
	/* background-color: whitesmoke; */
}

.item-list {
	width: 100%;
	height: 100px;
	/* text-align: center; */
	/* justify-content: center; */
	font-size: 18px;
	/* list-style-position: inside; */
}